
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.demo{
    background-color:  #2D25A0;
    display: flex;
    justify-content: space-between;
    padding-left: 156px;
    padding-top: 207px;
    padding-right: 156px;
    padding-bottom: 150px;
}
h1{
    font-size: 80px;
    color: #FFFFFF;
}
.btn{
    background-color: #E02C6D;  
    border-radius:10%;
    padding: 20px 44px;
}
.btn a{
    text-decoration: none;
    color: #FFFFFF;
}
.live-logo img{
    width: 750px;
    height: 600px;
    margin-right: 50px;
    transition: 2s;
}
.live-logo img:hover{
    transform: scale(1.5);
}




.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-top:80px ;
    padding-left:150px ;
    padding-right:150px ;
}
.player{
    background-color: aliceblue;
    box-shadow: 5px 10px 18px #888888;
}
.player-info img{
    width: 450px;
    height: 300px;    
}
.player-info{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
h3{
    font-size: 40px;
    margin-bottom: 0px;
}
p{
    color: #6C6C6C;
    font-size: 22px;
    padding-bottom: 20px;
}




.adv-demo{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-top: 207px;
    padding-right: 156px;
    padding-bottom: 150px;
}
h2{
    font-size: 70px;
    color: black;
    margin-bottom: 0px;
}


.footer-main{
    padding-left: 300px;
    padding-right: 300px;
}
.footer-main img{
    width: 480px;
    height: 110px;
    margin-left: 380px;
}
.footer-main-logo{
    padding-top: 20px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 20px;   
    display: flex;
    justify-content: space-between;
}
.footer-main p{
    color: black;
    margin-left: 430px;
    font-size: 35px;
}
