/* body */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* header */


/* nav style */
.nav-container{
    padding: 0 10%;
    background-color: #2D25A0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.brand {
    padding-top: 5%;
    text-align: end;
}
.menu{
    
    display: flex;
    justify-content: start;
    align-items: center;
}
.menu a{
    font-size: 25px;
    font-weight: 400;
    margin-right: 30px;
    text-decoration: none;
    color: white;
}


/* nav style end */


.demo{
    background-color:  #2D25A0;
    display: flex;
    justify-content: space-between;
    padding-left: 156px;
    padding-top: 207px;
    padding-right: 156px;
    padding-bottom: 150px;
}
h1{
    font-size: 80px;
    color: #FFFFFF;
}
.btn{
    background-color: #E02C6D;  
    border-radius:10%;
    padding: 20px 44px;
}
.btn a{
    text-decoration: none;
    color: #FFFFFF;
}
.live-logo img{
    width: 750px;
    height: 600px;
    margin-right: 50px;
    transition: 2s;
}
.live-logo img:hover{
    transform: scale(1.5);
}


/* container */

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-top:80px ;
    padding-left:150px ;
    padding-right:150px ;
}
.player{
    background-color: aliceblue;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 5%;
}
.player-info img{
    width: 100%;
    border-radius: 5%;
     
}
.player-info{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
h3{
    font-size: 40px;
    margin-bottom: 0px;
    text-align: center;
}
p{
    color: #6C6C6C;
    font-size: 18px;
    padding-bottom: 20px;
}


/* advertise */

.adv-demo{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-top: 207px;
    padding-right: 156px;
    padding-bottom: 50px;
}
h2{
    font-size: 70px;
    color: black;
    margin-bottom: 0px;
}


/* footer */


.footer-main{
    padding-left: 300px;
    padding-right: 300px;
}
.footer-main img{
    width: 480px;
    margin-left: 380px;
}
.footer-main-logo{
    padding-top: 20px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 20px;   
    display: flex;
    justify-content: space-between;
}
.logo-style{
    font-size: 30px;
 }
.footer-main p{
    color: black;
    margin-left: 430px;
    font-size: 35px;
}



/* media query */



@media only screen and (max-width:688px){
  
    /* header start */

  
    /* nav style */
    .nav-container{
        width: 100%;
        padding: 0;
        margin: 0;
        grid-template-columns: repeat(1,1fr);
    }
    .menu{
        display: none;
    }
    .brand{
        text-align: center;
    }
    .brand p{
        padding-bottom: 0;
    }
    
    /* nav style end */

    .demo, .adv-demo{
        flex-direction: column;
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    .demo{
        margin-bottom: 20px;
    }
    h1{
        font-size: 25px;
        color: #FFFFFF;
        text-align: center;
    }
    .btn{
        padding: 5px 5px;
    }
    .live-logo img{
        width: 100%;
        height: 50%;
        margin-right: 0px;
    }
    .live p{
        text-align: center;
    }
    /* header end */

    /* container */
     .container{
        grid-template-columns: repeat(1, 1fr);
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .adv-demo{
        display: flex;
        justify-content: space-between;
        padding: 0px;
    }
    h2{
        font-size: 20px;
        margin-top: 50px;
        text-align: center;
    }
    h3{
        font-size: 20px;
    }
    
    /* footer */

    .footer-main{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
    .footer-img{
        display: flex;
        justify-content: center;
    }
    .footer-main img{
        width: 75%;
        margin: 0px;
    }
    .footer-main-logo{
        justify-content: space-evenly;
        padding-top: 20px;
        padding-left: 10px;
        margin: 0px;  
    }
    .logo-style{
        font-size: 20px;
     }
    .footer-main p{
        margin: 0px;
        padding-top: 15px;
        font-size: 15px;
        text-align: center;
    }
     
}
